{% extends "main/base.html" %}
{% load static %}

{% block title %} about_me {% endblock %}

{% block content %}

<style>
  .IMG{
    padding: 20px 40px 480px 40px;
  }
</style>

<div class="IMG">
  <div style="background-image: url({% static 'images/خلفية عنني.jpg' %}); background-repeat: no-repeat; background-size: cover; background-position: center center; min-height: 100vh;">
</div>




<!-- Navbar content 
<style>
  .IM{
    text-align: center;
    border-width:1;
    padding:20px 5000px 0px 0px ;
  }
  .IM2{
    text-align: center;
    padding:20px 3500px 0px 0px ;
  }
</style>


  <div class="IM">
    <img src="{% static 'images/famil.jpeg' %}" class="rounded-start-pill" alt="...">
  </div>

  <div class="card-body">
    <h5 class="card-title">قبل ال20</h5>
    <p class="">مواليد منطقة تبوك 
    </p>
  </div>

  <div class="IM2">
    
    <img src="{% static 'images/cong.jpeg' %}" class="rounded-end-circle" alt="...">

  </div>

  <div class="card-body">
    <h5 class="card-title">قبل ال20</h5>
    <p class="">مواليد منطقة تبوك 
    </p>
  </div>
 -->
{% endblock %}





