{% extends "main/base.html" %}
{% load static %}






{% block web %}




{%for person in post %}

<head>
    <link rel="stylesheet" href="{% static 'css/styles5.css' %}"/>
</head>

<div>
    <div class="card">
        <div class="col-lg-4 col-md-6 mb-4">
        <div class="card-body">
          <h4 class="card-title">services</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{person.name}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">{{person.email}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">{{person.number}}</h6>
        </div>
      </div>
    </div>
     {%for comment in postcomment %}
     <div class="card">
        <div class="col-lg-4 col-md-6 mb-4">
        <div class="card-body">
          <h4 class="card-title">comments</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{comment.name}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">{{comment.comment}}</h6>
        </div>
      </div>
    </div>


</div>




{%endfor%}



{%endfor%}



{%endblock%}