{% extends "main/base.html" %}
{% load static %}

{% block title %} my writings {% endblock %}

{% block content %}
<style>
  #carouselExampleIndicators{
    text-align: center;
    padding: 50px 300px 300px 300px;
  }
  .carousel-indicators{
    text-align: center;
    padding: 50px 100px 300px 100px;
  }
  .carousel-control-prev-icon{
    padding: 50px 30px 30px 30px;
  }
  .carousel-control-next-icon{
    padding: 50px 30px 30px 30px;
  }
</style>


<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/text1.jpeg' %}" alt="" class="img-fluid rounded-start">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/text3.jpeg' %}" alt="" class="img-fluid rounded-start">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/text4.jpeg' %}" alt="" class="img-fluid rounded-start">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>




{% endblock %}
