<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        
            <div class="mt-3">
              <label class="form-label">Title</label>
              <input type="text" name="title" class="form-control" />
            </div>
        
            <div class="mt-3">
              <label class="form-label">Content</label>
              <textarea class="form-control" name="content"></textarea>
            </div>
        

              <div class="mt-3">
                <label>Choose File:</label>
                <input type="file" name="image" class="form-control"/>
              </div>
        
              <br/>
              <input type="submit" class="btn btn-primary" value="New info" />
        
            
        
        </form>
</body>
</html> -->


<div class="row">

  <div class="rew">
      <div class="col-3">test</div>
      <div class="col">test</div>
      <div class="col">test</div>

  </div>

</div>