{% extends 'main/base2.html' %}
{% load static %}

{% block title %} Contact {% endblock %}

{% block content %} 

<div class="col">
    
            <header class="shadowBack me-d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                    
                
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'main:homepage' %}" class="nav-link px-5 link-secondary">Home</a></li>
                <li><a href="{% url 'main:projects_page' %}" class="nav-link px-5 link-dark">My Projects</a></li>
                <li><a href="{% url 'main:about_me_page' %}" class="nav-link px-5 link-dark">About Me</a></li>
                <!-- <li><a href="{% url 'main:contact_me_page'%}" class="nav-link px-5 link-dark">Contact</a></li> -->
            </ul>
            
            </header>

    </div> 
    
    <div class="row">

        <div class="full-height">
    
            <header class="contact_header">Contact Me</header>
        
        <form action="" method="post" id="form" class="topBefore">
          {% csrf_token %}
                
                  <input id="name" name="name" type="text" placeholder="NAME">
                  <input id="email" name="email" type="text" placeholder="E-MAIL">
                  <textarea id="message" name="message" type="text" placeholder="MESSAGE"></textarea>
                  
          <input id="submit" type="submit" value="GO!">
          
        </form>
        
        </div>

    </div>
  


</div>



  



{% endblock %}