{% extends 'main/index.html' %}

{% block title %} Contact {% endblock %}{% block content %}

    <!--  my goals  -->
    <section class="contact" id="contact">
      <div class="container">
        <div style="text-align: center;">
          <div style="text-align: center; font-size: 200%;" class="copyright text-right m-top-80">
            <p><hr></p>
            <p>,,</p>
            <p class="wow fadeInRight"><i class="fa fa-heart"></i> your message has been submitted to me... <i class="fa fa-heart"></i></p>
            <p><hr></p>

            <div class="row">
                    <div class="col-3">
                      <div class="card" style="width: 45rem;">
                      </div>
                    </div>
            </div>
        </div>
        </div>
      </div>
    </section>
{% endblock %}