{% extends 'main/index.html' %}
{% load static %}
{% block title %} My Journey {% endblock %} 


{% block style %}
<style>



    .moments-section .row {
      display: -ms-flexbox; /* IE10 */
      display: flex;
      -ms-flex-wrap: wrap; /* IE10 */
      flex-wrap: wrap;
      padding: 0 4px;
    }
    
    /* Create four equal columns that sits next to each other */
    .moments-section .column {
      -ms-flex: 25%; /* IE10 */
      flex: 25%;
      max-width: 25%;
      padding: 0 4px;
    }
    
    .moments-section .column img {
      margin-top: 8px;
      vertical-align: middle;
      width: 100%;
    }
    
    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
      .moments-section .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
      }
    }
    
    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .moments-section .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
      }
    }
    
    
    
    </style>
{% endblock %}

{% block content %}

<section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="Educations">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12 head_right">
              <h2 class="mb-4">Educations & Experiences</h2>

                <div class="timeline">
                    <div class="timeline-wrapper">
                         <div class="timeline-yr">
                              <span> Jan 2022 </span>
                         </div>
                         <div class="timeline-info">
                              <h3><span> B.Sc Information Technology </span><small>Qassim University </small></h3>
                              <p>The day I graduated from university, it was the joy of endings and the passion of beginnings.</p>
                         </div>
                    </div>

                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span> May 2021 </span>
                        </div>
                        <div class="timeline-info">
                            <h3><span>Ma'aden Company</span><small>Coop Trining</small></h3>
                            <p>The stage of leaving university life, entering professional life,
                                the excitement to applying what you learned at university to reality,
                                and the passion for turning assignments and tests into projects.
                                At that time my curiosity pushes me to enter every field in the world of technology just to learn more,
                                this is the transitional period and discovering the career path.</p>
                        </div>
                    </div>

                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span> Dec 2022 </span>
                        </div>
                        <div class="timeline-info">
                            <h3><span> Zain Company & CST </span><small> Mentorship Program </small></h3>
                            <p>This was the stage of organizing my choices.
                                I learned a lot from my previous training and took the time to make my career choices and desires.
                                I entered mentoring training to discover more about the world of projects,
                                especially project management and software engineering.
                                This was a period of clarity of vision and full benefit from trining.</p>
                        </div>
                    </div>
                    
                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span> Jan 2023 </span>
                        </div>
                        <div class="timeline-info">
                            <h3><span>Full Stack Developer<small> Tuwaiq Academy </small></h3>
                            <p> Here is the stage of complete technical development in my chosen path,
                                the stage of creativity and innovation,
                                pushing myself to know my limits and capabilities,
                                challenging myself to achieve ambitions, here i will learn, then master, then innovate.</p>
                        </div>
                    </div>
                    

                </div>
            </div>

            <div class="col-lg-6 col-12 moments-section">
                <div class="head_right">
                    <h2 class="mb-4"> Momments </h2>
                  </div>
                  
                  <!-- Photo Grid -->
                  <div class="row"> 
                    <div class="column">
                      <img class="image " src="{% static 'images/uni_com.jpg'%}" style=" width:100%">
                      <img class="image"src="{% static 'images/maaden_me.jpg'%}" style="width:100%">
                      <img class="image"src="{% static 'images/tuwiq1.jpeg'%}" style="width:100%">
                      <img src="{% static 'images/tuwiq8.jpg'%}" style="width:100%">

                      </div>  <div class="column">
                      <img src="{% static 'images/grad_cert.jpeg'%}" style="width:100%">
                      <img src="{% static 'images/maaden_meet.jpg'%}" style="width:100%">
                      <img src="{% static 'images/tuwiq5.jpg'%}" style="width:100%">
                      <img src="{% static 'images/me.jpg'%}" style="width:100%">

                      </div><div class="column">
                      <img src="{% static 'images/grad_me2.jpg'%}" style="width:100%">
                      <img src="{% static 'images/maaden33.jpg'%}" style="width:100%">
                      <img src="{% static 'images/tuwiq2.jpeg'%}" style="width:100%">
                    </div>

            
        </div>
    </div>
</section>


<section style="margin-top: 30px;" id="Comments">

    <div class="head_right">
        <h2>Comments..</h2>
    </div>

    {% for comment in comments %}

    <div class="col-md-3 col-sm-6 " style="border: 2px solid; border-radius: 5px; margin-right: 30px; margin-top: 30px; padding: 10px; color: #889da4;" >
        <div class="card mb-5">
          <div class="card-header has-icon"><i class="ti-bar-chart text-danger" aria-hidden="true"></i></div>
          <div class="card-body px-4 py-3">
            <h5 class="mb-3 card-title text-dark">{{comment.Name}}</h5>
            <p class="subtitle">{{comment.your_comment}}</p>
          </div>
        </div>
      </div>
    {% endfor %}

  
</section>


<section style="margin-top: 100px;">
    <form action="" method="post"
    class="contact-form col-md-10 col-lg-8 m-auto">
        {% csrf_token %}
        <div class="copyright text-left m-top-50 " style="margin-bottom: 40px; margin-left: 20px; font-size: 196%;">
            <p class="wow fadeInRight"> Give me lovly comment <i class="fa fa-heart"></i></p>
        </div>
    
        <div class="form-row">
            <div class="form-group col-sm-6">
                <input type="text" name='Name' size="50" class="form-control" placeholder="Your-Name" required>
            </div>
    
            <div class="form-group col-sm-12">
                <textarea name="your_comment" id="comment" rows="6" class="form-control"
                    placeholder="Write Your Comment..."></textarea>
            </div>
            <div class="form-group col-sm-12 mt-3 form_btn text-left m-top-50" >
    
                <input type="submit" value="Send Message" href="{% url 'main:journey'%}"class="btn btn-primary">
    
            </div>
        </div>
    </form>
    
    
    <div class="author_text text-right">
        <h5>Regards!</h5>
        <h1>Nada Albati</h1>
    </div>
    
    

</section>


{% endblock %}