{% extends 'projects/base.html' %}

{% block title %} Add a New Project {% endblock %}

{% block content %}

<div class="container">
<h2>Add a New Project</h2>
<form action="" method="POST">
    {% csrf_token %}
    <div class="transbox">
        <div class="row">
            <div class="col" id = "box">
                <input type="text" name="title" class="form-control m-2 text-dark" placeholder="Title"/>
                <textarea class="form-control m-2 text-dark" name="content" placeholder="Content"></textarea>
                <input type="date" name="start_date" placeholder="start date" class= "m-2"/>
                <input type="date" name="end_date" placeholder="end date" class= "m-2"/>
                <label>Choose File:</label>
                <input type="file" name="image" class="form-control"/>
                <input type="submit" class="btn btn-dark" value="New Project" />
            </div>
        </div>
    </div>
</form>
</div>



{% endblock %}