{% extends "projects/base.html" %}
{% load static %}

{% block title %} Elyas Balgasim {% endblock %}

{% block content %}


<div id="hero" class="home">
  <div class="container">
    <div class="hero-content">
      <h1>I'm <span class="typed" data-typed-items="Elyas Balgasim, an Admin"></span></h1>
      <ul class="list-unstyled list-social">
        <li><a href="https://github.com/ZeNullOrb"><i class="bi bi-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/elyas-balgasim/"><i class="bi bi-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>


{% endblock %}