{% extends 'main/index.html' %}

{% block title %}Contact{% endblock %}{% block content %}

    <!--  my goals  -->
    <section class="contact" id="contact">
      <div class="container">
        <div style="text-align: center;">
          <h1>,,</h1>
          
          <div class="container">
            <h2 style="text-align: center;">Your message has been submitted to me :)!</h2>
            <p><hr></p>
        
            <div class="row">
                    <div class="col-3">
                      <div class="card" style="width: 45rem;">
                      </div>
                    </div>
            </div>
        </div>
        </div>
      </div>
    </section>
{% endblock %}