{% extends "main/index.html" %}
{% load static %}
{% block title %}Website Development{% endblock %}


 {% block content %}

 <section class="aboutus" id="aboutus">
  <div class="container">
    <div class="row">
     <div class="col-md-12">
      <div class="heading">
      <h2>WELCOME TO WEBSITE DEVELOPMENT PAGE !</h2>
      <h3>I am good at creating innovative and designs</h3>        
    </div>
    </div> 
     </div> 
    <div class="row">
    <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right media"><img src="{%  static 'images/Aula .jpg' %}" alt=""></div>
      <div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left media">
        <br>
        <h3><br>- My First Project in the Website Development </h3>          
          <p><h4>The first project I did in Tuwaiq Academy, which is a site for tourism in the Kingdom of Saudi Arabia. </h4></p>      
        </div>
      
    </div>     
  </div>    
</section>

<section class="aboutus" id="section mt-3">
  <div class="container mt-5">
    <div class="row">
     <div class="col-md-12">
 
    </div> 
     </div> 
    <div class="row">
      
      <div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-right media">
      <p><h5><br><br>I have talked about 4 regions of Saudi Arabia in 4 web pages with some pictures related to each region, and a section describing the region with a video.</h5></p>
      </div>
      <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-left media"><img src="{%  static 'images/re.png' %}" alt=""></div>

    </div>     
  </div>    
</section>

<!--  my goals  -->
<section class="contact" id="contact" style="background-color: rgb(244, 244, 244);">
  <div class="container">
    <div style="text-align: center;">
      <h1>,,</h1>

      <h2> Every website I develop uses the latest development principles and techniques to meet modern web standards.</h2>
    </div>
  </div>
</section>

 {% endblock %}
