
{% extends 'Web/index.html' %}

{% load static %}


{% block content %}



<div class="container-fluid align-items-center">
  


      <section class="u-black u-clearfix u-section-1" id="sec-37b5">
        <div class="u-clearfix u-sheet u-sheet-1">
          <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1 ">
            <div class="u-layout text-center" style="">

              <div class="u-container-layout u-container-layout-1">
                <video src="{% static 'videos/aurora-borealis-90877.mp4'%} " alt=""  width="1100" height="600" controls>
              </div>

    <div> <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
    <path   width="30" height="30" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
    </svg></div>  
                    <h2 class="align-items-center  u-custom-font  u-text-body-alt-color u-font-playfair-display ">About me :</h2>
                    <p class="u-custom-font u-font-playfair-display u-text u-text-body-alt-color u-text-2">Hey there !&nbsp;<br>

                      <div class="container text-center">
                        <div class="row">
                          <div class="col">
                            
                          </div>
                          <div class="col-8 align-items-center  u-text-body-alt-color u-font-playfair-display">
                            <br>
                            Hello ! this is Asrar , here I will talk about myself</br>
                            I am 23 years old , and my Birthdate is (1999/07/13)</br> 
                            i have a diploma degree in IT Computer science , and i am completing my Bachelor degree in cybersecurity I am interested in all IT fields , i also like designing and photography ,and i have so many hobbies , such as ( shooting , archery , painting , photography , designing , programming ,,etc.)</br>
                            So this is my humbled website i made it so you can know me a little bit , hope you enjoy it ^-^ .
                            <br>


                          </div>
                          <div class="col">
                          
                          </div>
                        </div>
                      </div>


                    </p>
                  </div>
                </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>






</div>




  
    {% endblock %}

  
</body></html>