{% extends 'faiapp/index.html' %}



{% block style %}
<style>
    .custom-navbar .logo {
        color:#695aa6;
    }
    .custom-navbar .hamburger .hamburger-inner, .custom-navbar .hamburger .hamburger-inner::before, .custom-navbar .hamburger .hamburger-inner::after {
        background: #695aa6;
    }

    .custom-navbar .nav .item .link {
        color:  #695aa6;
    }
</style>
{% endblock %}

{% block content%}
<div class="container my-5 ">
    <div class="bg-light p-5 rounded">
      <div class="col-sm-8 py-5 mx-auto">
        <h1 class="display-5 fw-normal">Your Message Is Successful, Thank You! </h1>
        
        
    </div>
    </div>
  </div>
{% endblock %}

