
.video-container .caption .container{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.video-container .caption .container .card{
    border: 0px;
    background: none;
    position: relative;
    cursor: pointer;
}

.video-container .caption .container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
    
}

.video-container .caption .container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.video-container .caption .container .card:hover .face.face1{
    background: #c89666;
    transform: translateY(0);
}

.video-container .caption .container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.video-container .caption .container .card:hover .face.face1 .content{
    opacity: 1;
}

.video-container .caption .container .card .face.face1 .content img{
    max-width: 100px;
}

.video-container .caption .container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.video-container .caption .container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px #49466acc;
    transform: translateY(-100px);
}

.video-container .caption .container .card:hover .face.face2{
    transform: translateY(0);
}

.video-container .caption .container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.video-container .caption .container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: rgb(51, 51, 51);
    padding: 5px;
    border: 1px solid #333;
}

.video-container .caption .container .card .face.face2 .content a:hover{
    background: #c89666;
    color: #fff;
}



/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */


/* vide style */

.video-container {
    height: 821px;
    width: 100%;
    position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  color: #523838;
  padding: 10px;
}

/* grid container */
.containerCol {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    grid-column-gap: 39px;
    grid-row-gap: 24px;
    justify-items: stretch;
    align-items: stretch;
 }




/* ------------------------------------------------------------------------------ */
/* -----------------------Row 2 style in projects page--------------------------------- */
 
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');

.cardRow2 #container{
	box-shadow: 0 15px 30px 1px grey;
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 5em auto;
	height: 350px;
	width: 700px;
  
	
}

.cardRow2 .product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 50%;

}

.cardRow2 #container .product-details h1{
	font-family: 'EB Garamond', serif;
	display: inline-block;
	position: relative;
	font-size: 30px;
	color: #344055;
	margin: 0;
	
}

.cardRow2 #container .product-details h1:before{
	position: absolute;
	content: '';
	right: 0%; 
	top: 0%;
	transform: translate(25px, -15px);
	font-family: 'Bree Serif', serif;
	display: inline-block;
	background: #ffe6e6;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: white;
	margin: 0;
	animation: chan-sh 6s ease infinite;

}

.cardRow2 #container .product-details > p {
font-family: 'EB Garamond', serif;
	text-align: center;
	font-size: 18px;
	color: #7d7d7d;
  width: 300px;
	
}
.cardRow2 .cardRow2 .control{
	position: absolute;
	bottom: 20%;
	left: 22.8%;
	
}

.cardRow2 .product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	width: 45%;
	display: inline-block;
}

.cardRow2 #container img {width: 100%;height: 100%;}

.cardRow2 .info {
    background: rgba(27, 26, 26, 0.9);
    font-family: 'Bree Serif', serif;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.8;
    text-align: left;
    font-size: 105%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.cardRow2 .info h2 {text-align: center}
.cardRow2 .product-image:hover .info{transform: translateX(0);}

.cardRow2 .info ul li{transition: 0.3s ease;}
.cardRow2 .info ul li:hover{transform: translateX(50px) scale(1.3);}

.cardRow2 .product-image:hover img {transition: all 0.3s ease-out;}
.cardRow2 .product-image:hover img {transform: scale(1.2, 1.2);}





  /* ------------------------------------------------------- */
  /* -----------cursor style--------------------------- */



  .cursor,
  .cursor2,
  .cursor3 {
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
  }
  .cursor {
    background-color: #fff;
    height: 0;
    width: 0;
    z-index: 99999;
  }
  .cursor2,
  .cursor3 {
    height: 36px;
    width: 36px;
    z-index: 99998;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .cursor2.hover,
  .cursor3.hover {
    -webkit-transform: scale(2) translateX(-25%) translateY(-25%);
    transform: scale(2) translateX(-25%) translateY(-25%);
    border: none;
  }
  .cursor2 {
    border: 2px solid #fff;
    box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
  }
  .cursor2.hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
  }
  @media screen and (max-width: 1200px) {
    .cursor,
    .cursor2,
    .cursor3 {
      display: none;
    }
  } 


  
  /* -----------------------shadow style --------------------------------------- */
  .shadowBack {
    background: rgba(0, 0, 0, 0.25);/* Black background with opacity */
    position: fixed;
    width:99%; 
    margin:10px 0 0 6px
    
  }
  



  /* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    margin: auto;
    width: 100%;
    position: relative;
    background-color: #fcfcfc;
    font-family: 'Roboto', sans-serif;
  }
   */
  /* navbar */
  
  .navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 80px;
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fcfcfc;
  }
  
  
  
  .nav-links-container{
    display: flex;
    list-style: none;
  }
  
  .links{
    text-decoration: none;
    color: #000;
    margin: 0 5px;
    padding: 10px;
    text-transform: capitalize;
    font-size: 1rem;
    opacity: 0.5;
    transition: .5s;
  }
  
  .links.active, .links:hover{
    opacity: 1;
  }
  
  /* header */
  
  .header{
    width: 100%;
    height: 100vh;
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
  
  .header-heading{
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 40px;
  }
  
  .header-heading .brand-name{
    display: block;
    text-transform: capitalize;
    font-size: 5rem;
    margin: 10px 0;
    font-weight: 400;
  }
  
  .brand-name span{
    color: #c89666;
  }
  
  .header-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .header-img{
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    object-fit: cover;
  }
  
  .circle{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: #c89666;
    margin-left: 20px;
    position: relative;
    user-select: none;
  }
  
  .circle::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 40px;
    bottom: 40px;
    right: 40px;
    border: 10px solid #fff;
    border-radius: 50%;
  }
  
  /* about section */
  
  #about-section{
    position: relative;
    padding: 100px 10vw;
  }
  
  .heading{
    text-align: center;
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 100px;
  }
  
  .about-container{
    width: 100%;
    margin: 50px 0 100px;
    display: flex;
    gap: 100px;
  }
  
  .image-container{
    width: 40%;
    position: relative;
  }
  
  .about-img{
    width: 90%;
    height: 500px;
    display: block;
    object-fit: cover;
    margin: 10px auto;
    border-radius: 10px;
  }
  
  .square{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background: #c89666;
    position: absolute;
    right: 10px;
    top: -30px;
    z-index: -1;
    transform: rotate(45deg);
  }
  
  .social-links{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .social-img{
    width: 30px;
    height: 30px;
    opacity: .4;
    transition: .5s;
  }
  
  .social-img:hover{
    opacity: 1;
  }
  
  .info{
    width: 50%;
  }
  
  .info p{
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 30px 0;
  }