{% extends 'main/base.html' %}
{% block title %} Contact Page{% endblock %}


{%block content%}

<div class="color-text  d-flex flex-column justify-content-center align-items-center">

    

    <form class="p-4 rounded-4 contact-form  w-50" action="" method="POST" enctype="multipart/form-data">
    <h1 class="text-center">Contact Me</h1>
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label ms-2">Name : </label>
        <input type="text" class="form-control" name="name" placeholder="Enter Your Name">
    </div>

    <div class="mb-3">
        <label class="form-label ms-2">Phone : </label>
        <input type="text" class="form-control" name="phone" placeholder="Enter Your phone">
    </div>

    <div class="mb-3">
      <label class="form-label ms-2">Email address : </label>
      <input type="email" class="form-control" name="email" placeholder="Enter Your Email">
    </div>

    <div class="mb-3">
        <label class="form-label ms-2">Message : </label>
        <input type="text" class="form-control" name="message" placeholder="Enter a Message">
    </div>
    
    <button type="submit" class="btn btn-primary">Send</button>
    
    </form>

</div>


{% endblock %}
