{% extends "main/base.html" %}

{% block title %} Elyas Balgasim {% endblock %}

{% block content %}
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6 text-center m-5 text-white">
      <br>
      <h1 class="font_0" style="line-height:1em; text-align:center; font-size:151px;"><span style="letter-spacing:0.15em;">ELYAS</span></h1>
      <hr class="hr-light">
      <h5 class="mb-4"></h5>
    </div>
  </div>
</div>


<div>
    <p class="font_1" style="text-align:center; font-size:20px;"><span style="letter-spacing:0.15em;">Computer Engineer</span></p>
</div>








{% endblock %}