{% extends "main/base.html" %}

{% block title %} Projects {% endblock %}

{% block content %}

<!-- ======= Journal Section ======= -->
<div id="journal" class="text-left paddsection">

  <div class="container">
    <div class="section-title text-center">
      <h2>Projects</h2>
    </div>
  </div>

  <div class="container">
    <div class="journal-block">
      <div class="row">
<!---------------------------------------------------------------------------------------------------------------------------------------------------------->
        {% for project in project %}
          <div class="col-lg-4 col-md-6">
            <div class="journal-info">
              <a href="{% url 'projects:project_detail' projects.id %}"><img src="{{ project.image.url }}" class="img-responsive" alt="img"></a>
              <div class="journal-txt">
                <h4><a href="{% url 'projects:project_detail' projects.id %}">{{ project.title }}</a></h4>
                  <div class="post-meta">
                    <ul class="list-unstyled mb-0">
                      <li class="date">Start at: {{ projects.start_date }}</li>
                      <li class="date">Ended at: {{ projects.end_date }}</li>
                    </ul>
                  </div>
                <p class="separator">{{ projects.content }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
<!---------------------------------------------------------------------------------------------------------------------------------------------------------->
      </div>
    </div>
  </div>

</div><!-- End Journal Section -->
{% endblock %}