{%extends 'raghad/base.html'%}
{% load static %}


{% block title %} About Raghad's website {% endblock %}



{% block content %}

<style>
    body{margin-top:20px;}
h1{font-size: 50px;}
h6{color: black;
font-size: 23px;}
.class1{ 
    border-radius:30px;
    padding: 50px;
   text-align: center;
   background-color: #a3a5ab6f;
  color: rgb(119, 91, 91);
}

</style>



<div class="container" >
    <div class="class1" class="about-section">
        <h1>" My Mission "</h1>
        <h6>― Empowering people and their business through technology.
             My goal is to use my knowledge and understanding of developments in the field .
            
        </h6>
    </div> <br>
    <div class="container" >
        <div class="class1" class="about-section">
            <h1>" I always did something I was a little not ready to do. I think that’s how you grow. "</h1>
            <h6>― Marissa Mayer</h6>
        </div> </div>
            <br></div>



















{% endblock %}