
{% extends 'main/home.html' %}
{% block title %}About me{% endblock %}
{%block content %}
{% load static %}
<style>#about-section {
    background: rgba(32, 33, 36, 0.1);
    position: relative;
}

.blockabout {
    padding: 20px;
    background: white;
}

.blockabout-inner {
    padding: 30px;
    border: 1px solid rgba(32, 33, 36, 0.1);
}

.sosmed-horizontal a i {
    border: 1px solid #070707;
    border-radius: 50%;
    color: #848484;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin: auto 3px;
    font-size: 15px;
    text-align: center;
    transition: all 0.3s;
}

.rey-btn {
    border: 2px solid #070707;
    padding: 10px 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: 700;
    border-radius: 50px;
    transition: all 0.3s;
}

</style>
<section id="about-section" class="pt-5 pb-5">
    <div class="container wrapabout" style="padding: 3%;">
        <div class="red"></div>
        <div class="row">
            <div class="col-lg-6 align-items-center justify-content-left d-flex mb-5 mb-lg-0">
                <div class="blockabout">
                    <div class="blockabout-inner text-center text-sm-start">
                        <div class="title-big pb-3 mb-3">
                            <h3>ABOUT ME</h3>
                        </div>
                        <p class="description-p text-muted pe-1 pe-lg-0">
                            Hello my name is  Anfal I'm a fresh gradute I've obtained a degree of Mathematics Sciences with first houners from Princes Nora Bint Abdulrahman University. 
                        </p>
                        <p class="description-p text-muted pe-1 pe-lg-1">Member of Advistory bored in the collage .I trained as a teacher of calculas at PNU also I've channel on Telegram . Because of my passion in Math and pogramming, I linked the graduation project in Python.</p>
                        <div class="sosmed-horizontal pt-3 pb-3">
                            
                            <a href="https://www.linkedin.com/in/anfal-almusallam-22897a207"><i class="fa fa-linkedin"></i></a>
                            <a href="https://twitter.com/Anfal_almusalam"><i class="fa fa-twitter"></i></a>
                        
                            <a href="https://t.me/AnfalAlmu"><i class="fa fa-telegram"></i></a>
                
                               
                        </div>
                        <a href="{% static 'image/cv.png'%}" class="btn rey-btn mt-3">See More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
                <div class="round-right">
                <div class="container">
                    <div class="team-img">
                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" style="margin: 56px;padding: 56px; border-radius: 50%;" alt="team Image">

            </div>
            </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}