{% extends 'main/home.html' %}
{% block title%} Successfully!{% endblock %}
{% block content %}
<style>
body{margin-top:20px;}
.mail-seccess {
    text-align: center;
	background: #fff;
	border-top: 1px solid #eee;
}
.mail-seccess .success-inner {
	display: inline-block;
}
.mail-seccess .success-inner h1 {
	font-size: 100px;
	text-shadow: 3px 5px 2px #3333;
	color: #006DFE;
	font-weight: 700;
}
.mail-seccess .success-inner h1 span {
	display: block;
	font-size: 25px;
	color: #333;
	font-weight: 600;
	text-shadow: none;
	margin-top: 20px;
}
.mail-seccess .success-inner p {
	padding: 20px 15px;
}
.mail-seccess .success-inner .btn{
	color:#fff;
}

</style>


<section class="mail-seccess section">
	<div class="container" style="padding-top: 4%;">
		<div class="row">
			<div class="col-lg-6 offset-lg-3 col-12">
				<div class="success-inner" style="padding-top: 4%;">
					<div class="alert alert-dark " role="alert" style="padding-top: 5%; ">
					<h1><i class="fa fa-envelope"></i><span>Your Form Sent Successfully!</span></h1>
					{% if form in latest_form %}
					<div class="col-3">
						<div class="p-4 shadow" >
							<a href="{% url 'main:form_detail' form.id %}"></a>
							
							
					</div>
					{% endif %}
					<a href="{% url 'main:home_page'%}" class="btn btn-primary btn-lg">Go Home</a>
				</div>
		
				
			</div>
		
		</div>
	</div>
</section>
{% endblock %}
    

    