{% extends 'main/home.html' %}
{% load static %}
{% block title %}interest {% endblock %}
{% block content %}
<style>
body{
    background-color: #eee;
    margin-top:20px;
}
.media.media-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding-bottom: 210px;
}
@media (min-width: 768px) {
    .media.media-news {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}


.media.media-news .media-body {
    padding: 20px;
    box-shadow: 0 22px 28px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
    position: absolute;
    width: 85%;
    right: 0;
    bottom: 0;
}
@media (min-width: 768px) {
    .media.media-news .media-body {
        position: relative;
        padding: 46.5px 35px;
        right: 0;
    }
}
@media (min-width: 992px) {
    .media.media-news .media-body {
        right: 40px;
        bottom: 0;
    }
}
@media (min-width: 1200px) {
    .media.media-news .media-body {
        position: absolute;
        right: 35px;
        width: 60%;
        padding: 20px;
    }
}
.media.media-news .media-body .media-date {
    font-family: "Open Sans", sans-serif;
    color: #848484;
    margin-bottom: 10px;
}
.media.media-news .media-body h5 {
    font-size: 22px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.media.media-news .media-body h5.small {
    font-size: 16px;
}
.media.media-news .media-body p {
    font-family: "Open Sans", sans-serif;
    color: #848484;
}
.media.media-news .media-body .common-btn {
    margin-top: 10px;
}
</style>
<div class="center">
<div class="container-fluid" style="margin: 56px;padding: 56px;">
    <div class="row no-gutters">
      <div class="col-xl-6 col-12 mb-5 mb-xl-0">
        <div class="media media-news">
          
          <div class="media-img">
            <img src="{% static 'image/book_store.jpg'%}" style="height: 350px; width: 280;"alt="Generic placeholder image">
          </div>
          <div class="media-body">
            
            <h5 class="mt-0 sep">Books.</h5>
            <p>The best books I've read.</p>
            <a href="{% url 'main:book_page'%}" class="btn btn-transparent">View More</a>
          </div>
        </div>
      </div>
      
      <div class="col-xl-6 col-12">
        <div class="media media-news">
          <div class="media-img">
            <img src="{% static 'image/horse2.jpg'%}" style="height: 350px; width: 280;"alt="Generic placeholder image">
          </div>
          <div class="media-body">
            
             <h5 class="mt-0 sep">Horses</h5>
            <p>For many times I have been interested in some types of horses, look at the photo .</p>
            <a href="{% url 'main:horse_page'%}" class="btn btn-transparent">View More</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    
   

{% endblock %}