{% extends 'main/base.html' %}
{% load static %}





{% block content %}


<h2 style="text-align:center">Card</h2>

<div class="card-p">
  <img src="{% static 'images/3.jpeg' %}" alt="Denim Jeans" style="width:100%">
  <b><h2 class="prodect">Sidr honey</h2></b>
  <p class="price">$19.99</p>
  <p class="prodect">Sidr honey contains a high percentage of antioxidants that prevent cell damage within the body, and protect against the effects of free radicals, which may help prevent cancer.</p>
  
</div>

<h2 style="text-align:center">Card</h2>

<div class="card-p">
  <img src="{% static 'images/3.jpeg' %}" alt="Denim Jeans" style="width:100%">
  <b><h2 class="prodect">Dhyana honey</h2></b>
  <p class="price">$9.99</p>
  <p class="prodect">Sidr honey contains a high percentage of antioxidants that prevent cell damage within the body, and protect against the effects of free radicals, which may help prevent cancer.</p>
  
</div>
      
{% endblock %}



