{% extends 'main/base.html' %}
{% load static %}

{% block bootstrap %} {% endblock %}




{% block content %}

<h2 style="text-align:center">Zidani</h2>

<div class="card-tasi">
  <img src="{% static 'images/1.jpeg' %}"  style="width:100%">
  <h2>Bitcoin</h2>
  <p class="title">Stop selling</p>
  <p class="prodect">purchasing tops</p>
  <!-- <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
  </div>
   -->
</div>
<div class="card-tasi">
  <img src="{% static 'images/1.jpeg' %}"  style="width:100%">
  <h2>Shibcoin</h2>
  <p class="title">Stop selling</p>
  <p class="prodect">purchasing tops</p>
  <!-- <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
  </div>
   -->
</div>
<div class="card-tasi">
  <img src="{% static 'images/1.jpeg' %}"  style="width:100%">
  <h2>Bnbcoine</h2>
  <p class="title">Stop selling</p>
  <p class="prodect">purchasing tops</p>
  
</div>
    

{% endblock %}




{% block script %}  {% endblock %}