{% extends 'main/home.html' %}
{% block title %} Work{% endblock %}
{% load static %}
{% block content %}
<style>
body{
    background:#ddd;
    }
    
   
    .timeline{
        position:relative;
        margin-bottom:100px;
        z-index:1;
    }
    
    .timeline:before{
        display:block;
        content:"";
        position:absolute;
        width:50%;
        height:100%;
        left:1px;
        top:0;
        border-right:1px solid #5CC9DF;
        z-index:-1;
    } 
    
    .timeline:after{
        display:block;
        content:"";
        position:absolute;
        width:50%;
        height:100px;
        left:1px;
        bottom:-105px;
        border-right:1px dashed #5CC9DF;
        z-index:-1;
    } 
    
    .timeline .date-title{
        text-align:center;
        margin:70px 0 50px;
    }
    
    .timeline .date-title span{
        padding:15px 30px;
        font-size:21px;
        font-weight:400;
        color:#fff;
        background:#5CC9DF;
        border-radius:5px;
    }
    
    .news-item {
        padding-bottom:45px;
    }
    
    .news-item.right {
        float:right;
        margin-top:40px;
    }
    
    .news-item .news-content {
        margin:20px 30px 0 0;
        position:relative;
        padding:30px;
        padding-left:100px;
        background:#f5f5f5;
        border-radius:10px;
        box-shadow:-5px 5px 0 rgba(0,0,0,0.08);
        -webkit-transition:all .3s ease-out;
        transition:all .3s ease-out;
    }
    
    .news-item:hover .news-content {
        background:#5CC9DF;
        color:#fff;
    }
    
    .news-item.right .news-content {
        margin:20px 0 0 30px;
        box-shadow:5px 5px 0 rgba(0,0,0,0.08);
    }
    
    .news-item .news-content:after {
        display:block;
        content:"";
        position:absolute;
        top:50px;
        right:-40px;
        width:0px;
        height:0px;
        background:transparent;
        border:20px solid transparent;
        border-left:20px solid #f5f5f5;
        -webkit-transition:border-left-color .3s ease-out;
        transition:border-left-color .3s ease-out;
    }
    
    .news-item.right .news-content:after {
        position:absolute;
        left:-40px;
        right:auto;
        border-left:20px solid transparent;
        border-right:20px solid #f5f5f5;
        -webkit-transition:border-right-color .3s ease-out;
        transition:border-right-color .3s ease-out;
    }
    
    .news-item:hover .news-content:after {
        border-left-color:#c1c7c9;
    }
    
    .news-item.right:hover .news-content:after {
        border-left-color:transparent;
        border-right-color:#c1c7c9;
    }
    
    .news-item .news-content:before {
        display:block;
        content:"";
        position:absolute;
        width:20px;
        height:20px;
        right:-55px;
        top:60px;
        background:#5CC9DF;
        border:3px solid #fff;
        border-radius:50%;
      
    }
    
    .news-item.right .news-content:before {
        left:-55px;
        right:auto;
    }
    
    .news-content .date {
        position:absolute;
        width:80px;
        height:80px;
        left:10px;
        text-align:center;
        color:#93d1dd;
        -webkit-transition:color .3s ease-out;
        transition:color .3s ease-out;
    }
    
    .news-item:hover .news-content .date {
        color:#fff;
    }
    
    .news-content .date p{
        margin:0;
        font-size:48px;
        font-weight:600;
        line-height:48px;
    }
    
    .news-content .date small{
        margin:0;
        font-size:26px;
        font-weight:300;
        line-height:24px;
    }
    
    .news-content .news-title{
        font-size:24px;
        font-weight:300;
    }
    
    .news-content p{
        font-size:16px;
        line-height:24px;
        font-weight:300;
        letter-spacing:0.02em;
        margin-bottom:10px;
    }
    
    
    
    .news-content .news-media{
        position:absolute;
        width:80px;
        bottom:-45px;
        right:40px;
        border-radius:8px;
    }
    
    .news-content .news-media img{
        border-radius:8px;
        transform:scale(1);
        -webkit-transition:-webkit-transform .3s ease-out;
        transition:transform .3s ease-out;
    }
    
    .news-content .news-media a{
        display:block;
        text-decoration:none;
        background:#fff;
        border-radius:8px;
        overflow:hidden;
        
    }
    
    .news-content .news-media a:hover img{
        -webkit-transform:scale(1.3);
        transform:scale(1.3);
    }
    
    .news-content .news-media a:after{
        content:'\f065';
        position:absolute;
        width:100%;
        top:0;
        left:0;
        font-family:FontAwesome;
        font-size:32px;
        line-height:80px;
        text-align:center;
        color:#7d8081;
        -webkit-transform:scale(0);
        transform:scale(0);
        opacity:0;
        -webkit-transition:all .2s ease-out .1s;
        transition:all .2s ease-out .1s;
    }
    
    .news-content .news-media.video a:after{
        content:'\f04b';
    }
    
    .news-content .news-media a:hover:after{
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity:1;
    }
    
    .news-content .news-media.gallery{
        box-shadow:4px 4px 0 #bbb,8px 8px 0 #ddd;
    }
    </style>                                     
<div class="container">
    <section id="news" class="white-bg padding-top-bottom">
        <div class="container">
            <div class="timeline">
                <div class="date-title" style="padding-top: 3%;">
                    <span>2022-2021</span>
                </div>
                <div class="row">
                    <div class="col-sm-6 news-item">
                        <div class="news-content">
                            <div class="date">
                                <p>1</p>
                                
                            </div>
                            <h2 class="news-title">Math techer</h2>
                            <div class="news-media">
                                <a class="colorbox cboxElement" href="#">
                                    <img class="img-responsive" src="{% static 'image/math_teacher.jpg'%}" style="height: 100%; width: 100%;" alt="">
                                </a>
                            </div>
                            <p>I were resopnsible for planning and teaching maths lessons to all the grade levels also,be responsible for performing tasks according to the curriculum.</p>
            
                        </div>
                    </div>

                    <div class="col-sm-6 news-item right">
                        <div class="news-content">
                            <div class="date">
                                <p>2</p>
                                
                            </div>
                            <h2 class="news-title"> Volunteer at Math Club
                                </h2>
                            <div class="news-media gallery">
                                <a class="colorbox cboxElement" href="#">
                                    <img class="img-responsive" src="{% static 'image/math_club.jpg'%}" style="height: 100%; width: 100%;" alt="">
                                </a>
                                <a class="colorbox cboxElement" href="#"></a>
                            </div>
                            <p> Helping people with difficulty in Math also,organizing college events.</p>
                           
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 news-item">
                        <div class="news-content">
                            <div class="date">
                                <p>3</p>
                                
                            </div>
                            <h2 class="news-title">Member of the Advisory board at a college</h2>
                            <div class="news-media video">
                                <a class="colorbox-video cboxElement" href="#">
                                    <img class="img-responsive" src="{% static 'image/conf.jpg'%}" style="height: 100%; width: 100%;" alt="">
                                </a>
                            </div>
                            <p>Discuss the problems that I encountered during the study.</p>
                           
                        </div>
                    </div>

                    <div class="col-sm-6 news-item right">
                        <div class="news-content">
                            <div class="date">
                                <p>4</p>
                            
                            </div>
                            <h2 class="news-title">Areeq summer camp</h2>
                            <div class="news-media gallery">
                                <a class="colorbox cboxElement" href="#">
                                    <img class="img-responsive" src="{% static 'image/summer_camp.jpg'%}" style="height: 100%; width: 100%;" alt="">
                                </a>
                                <a class="colorbox cboxElement" href="#"></a>
                            </div>
                            <p>Professional photography skills
                                Fundamentals of Cyber ​​Security<br>
                                Pass the personal interview<br>
                                Writing an autobiography</p>
                            
                        </div>
                    </div>
                </div>

        
               

                    
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}